@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}

.card {
  animation: spin 5s ease;
  animation-iteration-count: infinite;
}

.container {
  perspective: 1000px;
}




